<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Creation</title>
</head>
<body>

<form th:action= "@{/employeeCreation}" th:object="${emptyEmployee}" method="post"> 
<label>Firstname </label>
<input type="text" th:field="*{firstname}">

<label> Lastname</label>
<input type="text" th:field="*{lastname}">

<label> Salary </label>
<input type="text" th:field="*{salary}">

<label>State </label>
<input type="text" th:field="*{state}">

<label> Country</label>
<input type="text" th:field="*{country}">

<input type="submit" value="Submit">

</form>
<br>

<a th:href="@{/}"> Home</a>
</body>
</html>